<div class="header"></div>
<div class="content-1">
  <div class="title" *ngIf="step === 1">
    <p>
      Inscribe a tu niño en nuestro centro de <br />
      desarrollo infantil Descubrir
    </p>
    <span>
      Una vez completes el formulario de inscripción nuestro <br />
      equipo validará la información y aprobará <br />
      la matrícula.
    </span>
    <button (click)="onRegister()">Inscribir</button>
  </div>
</div>
<div *ngIf="step === 2">
  <div class="body-inscription">
    <div class="color-header"></div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <br />
      <br />
      <div class="card">
        <mat-vertical-stepper
          #verticalStepper="matVerticalStepper"
          [linear]="true"
        >
          <mat-step [stepControl]="verticalAccountFormGroup">
            <form [formGroup]="verticalAccountFormGroup">
              <ng-template matStepLabel>Inscripción</ng-template>

              <div class="heading">Registra tu niño</div>
              <div class="subheading">Estudiantes.</div>

              <div class="content" fxLayout="column" fxLayoutGap="8px">
                <mat-form-field fxFlex="auto">
                  <mat-label>Nombres</mat-label>
                  <input formControlName="name" matInput required />
                  <mat-hint>Nombres.</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="auto">
                  <mat-label>Apellidos</mat-label>
                  <input formControlName="lastName" matInput required />
                  <mat-hint> Apellidos</mat-hint>
                </mat-form-field>

                <div
                  fxLayout="column"
                  fxLayout.gt-xs="row"
                  fxLayoutGap="8px"
                  fxLayoutGap.gt-xs="24px"
                >
                  <mat-form-field fxFlex="auto">
                    <mat-label>Identificacion</mat-label>
                    <input formControlName="identification" matInput required />
                    <mat-hint> Cédula de identidad</mat-hint>
                  </mat-form-field>

                  <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field fxFlex="1 1 auto">
                      <mat-label>Género</mat-label>
                      <mat-select formControlName="male" required>
                        <mat-option
                          *ngFor="let option of roleOptions"
                          [value]="option"
                          >{{ option }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="2 1 auto">
                      <mat-label>Edad</mat-label>
                      <input
                        formControlName="age"
                        matInput
                        required
                        type="number"
                      />
                      <mat-hint align="end"></mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div
                class="actions"
                fxLayout="row"
                fxLayoutAlign="end center"
                fxLayoutGap="8px"
              >
                <button
                  (click)="verticalStepper.reset()"
                  [disabled]="verticalAccountFormGroup.pristine"
                  mat-button
                  type="button"
                  class="button-color"
                  style="color: white"
                >
                  RESETEAR
                </button>
                <button
                  [disabled]="verticalAccountFormGroup.invalid"
                  mat-raised-button
                  matStepperNext
                  class="button-color"
                  style="color: white"
                >
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="verticalPasswordFormGroup">
            <form [formGroup]="verticalPasswordFormGroup">
              <ng-template matStepLabel>Datos Académicos</ng-template>

              <div class="subheading">Completa los datos académicos.</div>

              <div class="content" fxLayout="column" fxLayoutGap="8px">
                <div
                  fxLayout="column"
                  fxLayout.gt-xs="row"
                  fxLayoutGap="8px"
                  fxLayoutGap.gt-xs="24px"
                  style="width: 300px"
                >
                  <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field fxFlex="1 1 auto">
                      <mat-label>Grado escolar</mat-label>
                      <mat-select formControlName="grade">
                        <mat-option
                          *ngFor="let option of gradeOptions"
                          [value]="option"
                          >{{ option }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="1 1 auto">
                      <mat-label>Jornada</mat-label>
                      <mat-select formControlName="section">
                        <mat-option
                          *ngFor="let option of sectionOptions"
                          [value]="option"
                          >{{ option }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div
                class="actions"
                fxLayout="row"
                fxLayoutAlign="end center"
                fxLayoutGap="8px"
              >
                <button
                  color="primary"
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="button-color"
                  style="color: white"
                >
                  ANTERIOR
                </button>
                <button
                  [disabled]="verticalPasswordFormGroup.invalid"
                  color="primary"
                  mat-raised-button
                  matStepperNext
                  class="button-color"
                  style="color: white"
                >
                  SIGUIENTE
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="verticalConfirmFormGroup">
            <form [formGroup]="verticalConfirmFormGroup">
              <ng-template matStepLabel>Confirmar Usuario</ng-template>

              <div class="subheading">Confirma el registro.</div>

              <div class="content" fxLayout="column" fxLayoutGap="8px">
                <mat-checkbox class="checkbox" formControlName="terms">
                  Acepto que los datos proporcionados para la inscripción son
                  correctos*
                </mat-checkbox>
              </div>

              <div
                class="actions"
                fxLayout="row"
                fxLayoutAlign="end center"
                fxLayoutGap="8px"
              >
                <button
                  color="primary"
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="button-color"
                  style="color: white"
                >
                  ANTERIOR
                </button>
                <button
                  (click)="submit()"
                  [disabled]="verticalConfirmFormGroup.invalid"
                  color="primary"
                  mat-raised-button
                  matStepperNext
                  class="button-color"
                  style="color: white"
                >
                  CREAR USUARIO
                </button>
              </div>
            </form>
          </mat-step>
        </mat-vertical-stepper>
      </div>
      <a
        (click)="step = 3"
        style="cursor: pointer; text-decoration: underline"
        *ngIf="matricula"
        >Regresar</a
      >
    </div>
  </div>
</div>
<!--step 3-->
<div class="content-3 container mt-3 mb-3 col-md-12" *ngIf="step == 3">
  <div class="col-md-12 header-content-3">
    <button (click)="step = 2">Inscribir</button>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <div class="row">
    <div class="col-md-4" *ngFor="let option of responseStudents">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><mat-icon>pending_actions</mat-icon></div>
            <div class="ms-2 c-details">
              <h2 class="mb-0">Solicitud de Matrícula</h2>
              <h5>Centro de Desarrollo Infantil Descubrir</h5>
            </div>
          </div>
          <div class="badge" *ngIf="option.estado == 0">
            <span>Aprobación pendiente</span>
          </div>
          <div class="badge2" *ngIf="option.estado == 1">
            <span>Aprobado</span>
          </div>
          <div class="badge3" *ngIf="option.estado == 2">
            <span>Rechazado</span>
          </div>
        </div>
        <div class="mt-3">
          <span>{{ option.nombres }}</span> <br />
          <span>{{ option.apellidos }}</span> <br />
          <span style="font-weight: bold">{{ option.nombre_grado }}</span>
          <div class="mt-5">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 100%"
                aria-valuemax="100"
              ></div>
            </div>
            <div
              class="mt-3"
              style="text-align: center"
              *ngIf="option.estado == 0 || option.estado == 2"
            >
              <button
                class="text2"
                style="background-color: transparent; border: none"
                (click)="delSolicitud(option._id)"
              >
                Eliminar solicitud
              </button>
            </div>
            <div
              class="mt-3"
              style="text-align: center"
              *ngIf="option.estado == 1"
            >
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
