@import '../../../../../src/assets/styles/styles.scss';

.chargeImage {
  text-align: center;
  img {
    max-width: 80px;
    display: block;
    margin: 0 auto;
  }
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.login-bg {
  width: 60%;
  background: url(../../../../assets/images/login/background.png);
  @media (max-width: $md) {
    width: 0%;
  }
}

.login-form {
  width: 40%;
  @media (max-width: $md) {
    width: 100%;
  }
}
button {
  background-color: $green-school;
}
.form-login {
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: black !important;
  }
  .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    text-align: center;
    font-weight: bold;
  }

  p {
    text-align: right;
    color: black;
  }
  p:hover {
    color: $green-school;
    cursor: pointer;
    text-decoration: underline;
  }
  .register-redirect:hover {
    color: black !important;
    cursor: auto;
  }
  .register-redirect {
    padding-top: 20px;
    text-align: center;
    text-decoration: none !important;

    span {
      color: $green-school;
      cursor: pointer;
    }
  }

  .login-button {
    background-color: $green-school;
    height: 50px;
  }

  .login2 {
    .row {
      min-height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    .field {
      display: flex;
      flex-flow: column-reverse;
      position: relative;
      margin-top: 10px;
      label,
      input {
        transition: all 0.2s;
        touch-action: manipulation;
      }

      label {
        color: #999999;
        text-align: inherit;
        padding: 0;
      }

      input {
        z-index: 1;
        background: transparent;
      }

      input:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(10px, 1.9rem) scale(1.2);
        font-size: 12px;
        @media (min-width: $md) {
          transform: translate(10px, 2rem) scale(1.2);
        }
      }

      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }

      ::-moz-placeholder {
        opacity: 0;
        transition: inherit;
      }

      input:focus::-webkit-input-placeholder {
        opacity: 1;
      }

      input:focus::-moz-placeholder {
        opacity: 1;
      }

      input:not(:placeholder-shown) + label,
      input:focus + label {
        transform: translate(10px, 0) scale(1);
        color: $green-school;
      }
      img {
        width: 18px;
        height: 19px;
        position: absolute;
        bottom: 10px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
      }
    }
    h1 {
      font-size: 16px;
      line-height: 19px;
      color: $green-school;
      text-align: center;
      font-family: 'Myriad Pro Regular';
      @media (min-width: $md) {
        font-size: 20px;
        line-height: 21.6px;
      }
    }
    input {
      display: block;
      width: 100%;
      border: 1px solid $green-school;
      text-decoration: none;
      border-radius: 17px;
      color: $green-school;
      font-size: 14px;
      line-height: 16px;
      padding: 10px 50px 10px 8px;
      box-shadow: 1px 1px 1px rgba(124, 124, 124, 0.75);
      @media (min-width: $md) {
        box-shadow: none;
        font-size: 16px;
        line-height: 19px;
      }
      &::placeholder {
        color: #999999;
      }
      &:focus {
        outline: none;
      }
    }
    .errors {
      display: inline-flex;
      flex-direction: column;
      padding-top: 10px;
      max-width: 50%;
      .text-danger {
        display: flex;
        align-items: center;
        font-size: 10px;
        line-height: 12px;
        color: #c1272d;
        img {
          padding: 0 3px;
        }
        @media (min-width: $md) {
          font-size: 12px;
        }
      }
      @media (min-width: $md) {
        max-width: auto;
      }
    }
    .recuperar-contrasena {
      display: flex;
      float: right;
      color: $turquoise-school;
      font-size: 10px;
      padding: 10px 0 25px;
      display: block;
      cursor: pointer;
      text-decoration: underline;
      font-family: 'Myriad Pro Regular';
      @media (min-width: $md) {
        display: inline-flex;
        font-size: 12px;
        padding: 10 0 30px;
      }
    }
    button {
      font-family: 'Myriad Pro Regular';
      display: block;
      width: 100%;
      border-radius: 17px;
      background-color: $green-school;
      font-size: 18px;
      color: #ffffff;
      letter-spacing: 1.8px;
      line-height: 21.6px;
      margin-bottom: 30px;
      border: none;
      padding: 10px 0;
      box-shadow: 1px 1px 1px rgba(124, 124, 124, 0.75);
      &:focus {
        outline: none;
      }
      @media (min-width: $md) {
        box-shadow: none;
      }
    }
    p {
      text-align: center;
      line-height: 16.8px;
      font-size: 14px;
      color: $green-school;
      span {
        color: $turquoise-school;
        cursor: pointer;
        text-decoration: underline;
      }
      @media (min-width: $md) {
        font-size: 16px;
      }
    }
  }
}

.verification-modal {
  .modal-content {
    border: none;
    .modal-header {
      border-bottom: none;
      justify-content: center;
      position: relative;
      h4 {
        font-size: 24px;
        color: $green-school;
        font-family: 'Myriad Pro Regular';
      }
      button {
        position: absolute;
        right: 20px;
        top: 20px;
        background: no-repeat;
        border: solid 1px $turquoise-school;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: $green-school;
          font-family: 'Myriad Pro Regular';
        }
      }
    }
    .modal-body {
      p {
        font-size: 14px;
        color: $green-school;
        span {
          color: $turquoise-school;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .sub-title {
        color: $green-school;
        font-family: 'Myriad Pro Regular';
        font-size: 14px;
      }
    }
  }
}
