<!--
<div class="container-body">
  <form>
    <h3>Bienvenido: {{ user?.email }}</h3>
    <p>Home Page</p>
    <br />
    <button class="btn-primary" (click)="onLogout()">Cerrar Sesión</button>
  </form>
</div>
-->
<mat-sidenav-container>
  <mat-sidenav opened="true" mode="side" style="position: fixed">
    <fury-scrollbar class="sidenav-items" fxFlex="auto">
      <div class="sidenav-user">
        <div
          style="margin-top: 2rem"
          class="wrapCount"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>{{ displayName }}</span>
        </div>

        <h5 class="sidenav-user-email">{{ email }}</h5>

        <div class="sidenav-user-icons" fxLayout="row">
          <a mat-icon-button (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </div>
      </div>
      <app-admin-menu></app-admin-menu>
    </fury-scrollbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-admin-header></app-admin-header>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
