<div class="container-fluid background-layout-login">
  <div class="login-form">
    <div class="col-md-6 offset-md-3">
      <br />
      <app-layout-login-header></app-layout-login-header>

      <div class="container-form form-login">
        <div class="container-body">
          <div class="box-content">
            <div class="verificacion-correo-body">
              <h1 class="text-center">
                {{ titlePage }}
              </h1>
              <p class="text-center first-paragraph">
                {{ subTitlePage }}
              </p>
              <p class="text-center">
                {{ textPage }}
              </p>
              <p
                *ngIf="!stateVerification"
                class="text-center"
                style="text-decoration: none"
              >
                Solicítalo
                <span
                  [routerLink]="['/recuperar-contrasena']"
                  style="
                    cursor: pointer;
                    text-decoration: underline;
                    color: #7ed957;
                  "
                  >aquí</span
                >
                o
                <span
                  [routerLink]="['/login']"
                  style="
                    cursor: pointer;
                    text-decoration: underline;
                    color: #7ed957;
                  "
                  >inicia sesión.</span
                >
              </p>
              <p *ngIf="stateVerification" class="text-center">
                <span [routerLink]="['/login']">inicia sesión.</span>
              </p>

              <mat-icon class="check-icon">vpn_key</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
